<meta property="og:title" content="{{ page.title | default: site.title }}">
<meta property="og:description" content="{{ page.description | default: site.description }}">
<meta property="og:image" content="{{ site.url }}/rectarg-preview.png">
<meta property="og:type" content="website">
<meta property="og:image:width" content="752">
<meta property="og:image:height" content="599">
<meta name="keywords" content="{{ page.keywords | default: site.keywords }}">
<meta name="author" content="{{ page.author | default: site.author }}">
